@model IEnumerable<Jokenpo.Model.Jogo>

<div class="row">
    <div class="col-lg-12">

        <!-- Last Game Log -->
        <div class="card card--has-table">
            <div class="card__header">
                <h4>Historico</h4>
            </div>
            <div class="card__content">
                <div class="table-responsive">
                    <table class="table table-hover game-player-result">
                        <thead>
                            <tr>
                                <th>Jogador 1</th>
                                <th>Jogador 2</th>
                                <th>Data de Inicio</th>
                                <th>N de Jogadas</th>
                                <th>Vencedor</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itens in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(p => itens.Jogador1)</td>
                                    <td>@Html.DisplayFor(p => itens.Jogador2)</td>
                                    <td>@Html.DisplayFor(p => itens.DataInicio)</td>
                                    <td>@Html.DisplayFor(p => itens.Jogadas)</td>
                                    <td>@Html.DisplayFor(p => itens.Vencedor)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


</div>